VITE_GENLAYER_CHAIN_NAME=Genlayer Studio Dev
VITE_GENLAYER_SYMBOL=GEN
VITE_GENLAYER_RPC_URL=https://studio.genlayer.com/api
VITE_GENLAYER_CHAIN_ID=61999
VITE_CONTRACT_ADDRESS=0xF84F1C239CC55ddA213df77f2BD79F7aC2C04beC